<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent!</h3>
      <hr>
      <!-- element -->
      <app-servers></app-servers>
      
      <!-- attribute -->
      <!-- <div app-servers></div> -->

      <!-- css -->
      <!-- <div class="app-servers"></div> -->

      <!-- successalert component -->
      <!-- <app-successalert></app-successalert> -->

      <!-- warningalert component -->
      <!-- <div app-warning-alert></div> -->

    </div>
  </div>
</div>